@charset "utf-8";
* {
  margin: 0 auto;
}

#azone {
  position: relative;
  background-color: white;
}
#today {
  position: absolute;
  width: 200px;
  top: 0;   right: 0px;
}
#stitle {
  position: relative;
  left: 30px;
}
#table1 {
  clear: both;
}
#titlePlus {
  text-align: right;
}
th {
  text-align: left;
}
#btnDel {
  display: none;
}

#bzone {
  background-color: white;
}
#ltitle {
  position: relative;
  left: 30px;
}
.bdr {
  border: 1px solid black;
}
.nondisp {
  display: none;
}
.same {
  color: white;
  font-size: 1px;
}
.sts1 {
  background-color: white;
}
.sts2 {
  background-color: lime;
}
.sts3 {
  background-color: yellow;
}
.sts4 {
  background-color: magenta;
}